<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Volkswagen Details</title>

		<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css?family=Abhaya+Libre:400,600" rel="stylesheet">
	    
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	    
		<!-- Navbar styles -->
		<link rel="stylesheet" href="details.css">		
	</head>
	<nav class="navbar navbar-light bg-faded">
			<a class="navbar-brand" href="#"></a>
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href={{url_for('index')}}>CarsCarsCars</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{url_for('about')}}>About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href={{url_for('brandindex')}}>Brands<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{url_for('modelindex')}}>Models</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{url_for('classindex')}}>Classes</a>
			</li>
		</ul>
	</nav>
	<div class="table-container">
		<table id="table" class="table table-hover table-striped">
		<tbody>
			<tr>
				<td colspan="3">
					<div class="header">
						<a href=http://www.vw.com>
							<img src=http://www.carlogos.org/logo/Volkswagen-logo-2000-1920x1080.png style="max-width:200px; max-height:200px">								
							</img>
						</a>
						<h1>Volkswagen</h1>
					</div>
				</td>
			</tr>
			<tr>
				<td rowspan="1" colspan="3">
					<div class="details">
						<p>Volkswagen, shortened to VW, is a German automaker founded on May 28, 1937 by the German Labour Front and headquartered in Wolfsburg. It is the flagship marque of the Volkswagen Group and is the largest automaker worldwide</p>
						</hr> 
						<p><a href="https://en.wikipedia.org/wiki/Volkswagen">Source</a></p>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="details">
						<h3>Founded</h3>
						<p>May 28, 1937</p>
					</div>
				</td>
				<td>
					<div class="details">
						<h3>2016 Revenue</h3>
						<p>$112.5 billion</p>
					</div>
				</td>
				<td>
					<div class="details">
						<h3>Country of Origin</h3>
						<p>Germany</p>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<div class="details">
						<h3>Models</h3>
						<p><a href={{url_for('modelVWJetta')}}>Jetta</a></p>
						<p><a href={{url_for('modelVWCrafter')}}>Crafter</a></p>
						<p><a href={{url_for('modelVWAmarok')}}>Amarok</a></p>
					</div>
				</td>
			</tr>
		</tbody>
		</table>
	</div>
</html>