<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Brands</title>

		<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css?family=Abhaya+Libre:400,600" rel="stylesheet">
	    
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	    
		<!-- Navbar styles -->
		<link rel="stylesheet" href=details.css>
        <!-- jQuery: required (tablesorter works with jQuery 1.2.3+) -->
        <script src="../static/js/jquery-1.2.6.min.js"></script>

        <!-- Pick a theme, load the plugin & initialize plugin -->
        <link href="../static/js/theme.default.min.css" rel="stylesheet">
        <script src="../static/js/jquery.tablesorter.min.js"></script>
        <script src="../static/js/jquery.tablesorter.widgets.min.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">   
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
		<script type="text/javascript" src="../static/js/jquery.dataTables.min.js"></script>
	</head> 

	<nav class="navbar navbar-light bg-faded">
			<a class="navbar-brand" href="#"></a>
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href={{ url_for('index') }}>CarsCarsCars</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{ url_for('about') }}>About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href={{ url_for('brandindex') }}>Brands<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{ url_for('modelindex') }}>Models</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{ url_for('classindex') }}>Classes</a>
			</li>
		</ul>
	</nav>

	<div class="table-container">
		<table id="table" class="table table-hover table-striped">
		<thead>
			<tr>
				<th>Logo</th>
				<th>Name</th>
				<th>Country of Origin</th>
				<th>Founded</th>
				<th>2016 Revenue (USD)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row"><a href=http://www.ford.com><img src=https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Ford_Motor_Company_Logo.svg/304px-Ford_Motor_Company_Logo.svg.png style="max-width:300px; max-height:120px"></img></a></th>
				<td><a href={{ url_for('brandFordDetails') }}>Ford Motor Company</a></td>
				<td>United States</td>
				<td>June 16, 1903</td>
				<td>$151.8 billion</td>
			</tr>
			<tr>
				<th scope="row"><a href=http://www.bmwusa.com><img src=https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/BMW.svg/1015px-BMW.svg.png style="max-width:300px; max-height:120px"></img></a></th>
					<td><a href={{ url_for('brandBMWDetails') }}>BMW</a></td>
					<td>Germany</td>
					<td>March 7, 1916</td>
					<td>$103.8 billion</td>
			</tr>
			<tr>
				<th scope="row"><a href=https://www.nissanusa.com><img src=http://www.car-brand-names.com/wp-content/uploads/2015/08/Nissan-logo.png style="max-width:300px; max-height:120px"></img></a></th>
				<td><a href={{ url_for('brandNissanDetails') }}>Nissan Motor Company</a></td>
				<td>Japan</td>
				<td>December 26, 1933</td>
				<td>$102.5 billion</td>
			</tr>
			<tr>
				<th scope="row"><a href=https://www.chevrolet.com><img src=http://www.carlogos.org/logo/Chevrolet-logo-2011-1366x768.png style="max-width:300px; max-height:120px"></img></a></th>
				<td><a href={{ url_for('brandChevroletDetails') }}>Chevrolet</a></td>
				<td>United States</td>
				<td>November 3, 1911</td>
				<td>$90.8 billion</td>
			</tr>
			<tr>
				<th scope="row"><a href=https://www.vw.com><img src=http://www.carlogos.org/logo/Volkswagen-logo-2000-1920x1080.png style="max-width:300px; max-height:120px"></img></a></th>
				<td><a href={{ url_for('brandVWDetails') }}>Volkswagen</a></td>
				<td>Germany</td>
				<td>May 28, 1937</td>
				<td>$112.5 billion</td>
			</tr>
			<tr>
				<th scope="row"><a href=https://www.mbusa.com><img src=https://img.clipartfest.com/cc5c89091a80540c166fac2ee392c2da_mercedes-benz-car-logo-png-mercedes-logo-clip-art_1024-768.png style="max-width:300px; max-height:120px"></img></a></th>
				<td><a href={{ url_for('brandMercedesDetails') }}>Mercedes-Benz</a></td>
				<td>Germany</td>
				<td>June 28, 1926</td>
				<td>$95.1 billion</td>
			</tr>
		</tbody>
		</table>
	</div>	
	<script>
	$(document).ready(function(){
	    $('#table').dataTable();
	});
	</script>
</html>
