<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Pickup</title>

		<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css?family=Abhaya+Libre:400,600" rel="stylesheet">
	    
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	    
		<!-- Navbar styles -->
		<link rel="stylesheet" href="details.css">		
	</head>
	<nav class="navbar navbar-light bg-faded">
			<a class="navbar-brand" href="#"></a>
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href={{url_for('index')}}>CarsCarsCars</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{url_for('about')}}>About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{url_for('brandindex')}}>Brands</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{url_for('modelindex')}}>Models</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href={{url_for('classindex')}}>Classes<span class="sr-only">(current)</span></a>
			</li>
		</ul>
	</nav>
	<div class="table-container">
		<table id="table" class="table table-hover table-striped">
		<tbody>
			<tr>
				<td colspan="4">
					<div class="header">
						<img src=https://www.goshare.co/public/front/images/vehicleType/SmallPickupTruck.png style="max-width:325px; max-height:500px">			
						</img>
						<h1>Pickup</h1>
					</div>
				</td>
			</tr>
			<tr>
				<td rowspan="1" colspan="4">
					<div class="details">
						<p>A pickup truck is a light duty truck having an enclosed cab and an open cargo area with low sides and tailgate. Once a work tool with few creature comforts, in the 1950s consumers began purchasing pickups for lifestyle reasons and by the 1990s less than 15 percent of owners reported use in work as the pickup truck's primary purpose. Today in North America, the pickup is mostly used like a passenger car and accounts for about 18 per cent of total vehicles sold in the US.</p>
						</hr> 
						<p><a href="https://en.wikipedia.org/wiki/Pickup_truck">Source</a></p>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="details">
						<h3>Producing Brands</h3>
						<p><a href={{url_for('modelChevroletSilverado')}}>Chevrolet Silverado</a></p>
						<p><a href={{url_for('modelMBG63')}}>Mercedes-Benz G63 AMG 6x6</a></p>
						<p><a href={{url_for('modelVWAmarok')}}>Volkswagen Amarok</a></p>
					</div>
				</td>
				<td>
					<div class="details">
						<h3>Seat Availability</h3>
						<p>4-5 people</p>
					</div>
				</td>
				<td>
					<div class="details">
						<h3>Number of Doors</h3>
						<p>2-4</p>
					</div>
				</td>
				<td>
					<div class="details">
						<h3>IIHS Crashworthiness Rating</h3>
						<p>Excellent</p>
					</div>
				</td>
			</tr>
		</tbody>
		</table>
	</div>
</html>

