<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Mercedes-Benz C-Class Sedan</title>

		<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css?family=Abhaya+Libre:400,600" rel="stylesheet">
	    
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
	    
		<!-- Navbar styles -->
		<link rel="stylesheet" href="details.css">		
	</head>
	<nav class="navbar navbar-light bg-faded">
			<a class="navbar-brand" href="#"></a>
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href={{url_for('index')}}>CarsCarsCars</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{url_for('about')}}>About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{url_for('brandindex')}}>Brands</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href={{url_for('modelindex')}}>Models<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href={{url_for('classindex')}}>Classes</a>
			</li>
		</ul>
	</nav>
	<div class="table-container">
		<table id="table" class="table table-hover table-striped">
		<tbody>
			<tr>
				<td colspan="6">
					<div class="header">
						<a href=https://www.mbusa.com/mercedes/vehicles/class/class-C/bodystyle-SDN>
							<img src=http://st.motortrend.com/uploads/sites/10/2016/08/2016-mercedes-benz-c-class-amg-c63-s-sedan-angular-front.png?interpolation=lanczos-none&fit=around%7C660%3A439 style="max-width:325px; max-height:500px">				
							</img>
						</a>
						<h1>Mercedes-Benz C-Class Sedan</h1>
					</div>
				</td>
			</tr>
			<tr>
				<td rowspan="1" colspan="6">
					<div class="details">
						<p>The Mercedes-Benz C-Class is a line of compact executive cars produced by Daimler AG. Introduced in 1993 as a replacement for the 190 (W201) range, the C-Class was the smallest model in the marque's line-up until the A-Class arrived in 1997. The C-Class is built at Mercedes-Benz factories in Sindelfingen and Bremen, Germany as well as numerous satellite factories in other countries. The first C-Class (W202) sedan was produced on 1 June 1993, and the first of the second generation (W203) rolled off the assembly line on 18 July 2000. The C-Class has been available with a 4Matic (i.e. four-wheel drive) option since 2002. The third generation (W204) was launched in 2007. The latest generation C-Class (W205) came out in 2014.</p>
						</hr> 
						<p><a href="https://en.wikipedia.org/wiki/Mercedes-Benz_C-Class">Source</a></p>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="details">
						<h3>Manufacturer</h3>
						<p><a href={{url_for('brandMBDetails')}}>Mercedes-Benz</a></p>
					</div>
				</td>
				<td>
					<div class="details">
						<h3>Class</h3>
						<p><a href={{url_for('classSedan')}}>Sedan</a></p>
					</div>
				</td>
				<td>
					<div class="details">
						<h3>Base MSRP</h3>
						<p>$39,500</p>
					</div>
				</td>
				<td>
					<div class="details">
						<h3>Average MPG</h3>
						<p>Up to 24 city / 34 highway</p>
					</div>
				</td>
				<td>
					<div class="details">
						<h3>Drive Description</h3>
						<p>Rear or All-Wheel Drive</p>
					</div>
				</td>
				<td>
					<div class="details">
						<h3>Production Run</h3>
						<p>1993-present</p>
					</div>
				</td>
			</tr>
		</tbody>
		</table>
	</div>
</html>
